<div class="center hero-unit">
	<% provide(:title, 'Home') %>
	<h1>Welcome to Simen Test App</h1>
	<p>This is the home page of Simen Test App</p>

	<%= link_to "Sign up now", signup_path, class: "btn btn-danger btn-large btn-primary" %>

</div>

